<div class="container">

  <div class="foto">
    <h1>Hoja de Vida Daniel Jimenez</h1>
    <img class="yo_img" src="assets/yo...jpg" alt="mi foto">
  </div>

  <div class="experiencia">
    <h2>Experiencia</h2>
      <ul>
        <li>Diseñador UX-UI</li>
        <li>Desarrollador Frontend</li>
        <li>Diseñador Gráfico</li>
        <li>Social Media Manager</li>
        <li>Atención al Cliente</li>
      </ul>
  </div>

  <div class="estudios">
    <h2>Estudios</h2>
    <div class="table_estudios">
      <table class="table table-hover table-borderless table-striped ">
        <thead>
          <tr>
            <th>Año</th>
            <th>Institución</th>
            <th>Logro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2021</td>
            <td>DEV.F</td>
            <td>Desarrollador Web Fullstack</td>
          </tr>
          <tr>
            <td>2023</td>
            <td>UniCafam</td>
            <td>Diseño de Experiencia del Usuario (UX-UI)</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th colspan="3">Complementaria</th>
          </tr>
        <tbody>
          <tr>
            <td>2022</td>
            <td>PROtalento</td>
            <td>Habilidades Socioemocionales</td>
          </tr>
          <tr>
            <td>2023</td>
            <td>Microsoft</td>
            <td>Asistencia Administrativa</td>
          </tr>
          <tr>
            <td>2023</td>
            <td>Microsoft</td>
            <td>Emprendimiento</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="idiomas">
    <h2>Idiomas</h2>
      <ul>
        <li>Español</li>
        <li>Ingles</li>
      </ul>
  </div>
</div>

<div class="footer">
  <div class="contacto ">
    <i class="fi fi-ss-phone-guide"></i>
    <ul>
      <li>Daniel Felipe Jimenez Palomino</li>
      <li>+57 3143051637</li>
      <li>danieljimenezpalomino2001&#64;gmail.com</li>
      <li>Bogotá D.C</li>
    </ul>
  </div>
  <div class="redes">
    <a href="https://www.instagram.com/"><i class="fi fi-brands-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fi fi-brands-facebook"></i></a>
  </div>
</div>

